

*{
    border: 1px solid red;
}
header {

    height: 20vh;

    background-color: rgb(209, 79, 79);
}


.header_text {
    display:flex
    flex-direction: row;
    gap: 2rem;
    height: 50vh;
 background-color: rgb(241, 188, 214);
}

.header_pic {
     background-color: rgb(241, 188, 214);
     height: 50vh;
    width: 45%
}


h1 {
    color: #4d1979;
    background-color: rgb(210, 170, 234);
}

h2 {
    color: #4d1979;
    background-color: rgb(210, 170, 234);
}
